<!DOCTYPE html>
{% load static %}
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Viajar Faz Bem Desafio</title>
        <link rel="icon"
              type="imagem/png"
              href="https://viajarfazbem.com/favicon-16.png"/>
        <link rel="stylesheet"
              type="text/css"
              href="{% static 'vitrines/css/style.css' %}">
        <link rel="stylesheet"
              type="text/css"
              href="{% static 'vitrines/css/slick.css' %}">
        <link rel="stylesheet"
              type="text/css"
              href="{% static 'vitrines/css/header.css' %}">
        <link rel="stylesheet"
              type="text/css"
              href="{% static 'vitrines/css/slick-theme.css' %}">
        <script src="{% static 'vitrines/js/jquery-1.11.0.min.js' %}"></script>
        <script src="{% static 'vitrines/js/jquery-migrate-1.2.1.min.js' %}"></script>
        <script src="{% static 'vitrines/js/slick.js' %}"></script>
    </head>
    <body>
        <header class="header">
            <a href="/vitrines/" class="header__link">Desafio Viajar Faz Bem</a>
            <div class="menu">
                <div class="vitrines">
                    <a href="/vitrines/">Vitrines</a>
                </div>
                <div class="home">
                    <a href="/vitrines/home/">Home</a>
                </div>
                <div class="destinos">
                    <a href="/vitrines/destinos/">Destinos</a>
                </div>
            </div>
        </header>
        {% if itens and pages %}
            {% for page in pages %}
                <div class="container_titles">
                    <p class="title">
                        {{ page.title }}
                    </p>
                    <p class="subtitle">
                        {{ page.subtitle }}
                    </p>
                </div>
                <div class="carousel">
                    {% for item in itens %}
                        {% if item.page_id == page.id %}
                            <div class="card">
                                <div class="image">
                                    <a href="/vitrines/sobre/{{ item.category.slug }}/{{ item.country.slug }}/{{ item.city.state }}/{{ item.city.slug }}/{{ item.slug }}/{{ item.page_id }}">
                                        <img src="https://thumb.sbtur.com/FxHMThgskvnFO2gAVLaACkEYtG8=/1000x600/smart/viajar-faz-bem-production.s3.amazonaws.com/portal/accommodation/pousada-verde-%C3%A1gua--1b66eae7-93a9-4313-954d-d8a511e082f9.jpg"
                                             alt="{{ item.hotel_name }}">
                                    </a>
                                </div>
                                <div class="content">
                                    <a class="name"
                                       href="/vitrines/sobre/{{ item.category.slug }}/{{ item.country.slug }}/{{ item.city.state }}/{{ item.city.slug }}/{{ item.slug }}/{{ item.page_id }}">
                                        <p>
                                            {{ item.hotel_name }}
                                        </p>
                                    </a>
                                    <p class="endereco">
                                        {{ item.city }}, {{ item.city.state }}
                                    </p>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endfor %}
        {% else %}
            <p>
                No itens are available.
            </p>
        {% endif %}
        <script>
        $('.carousel').slick({
            dots: true,
            infinite: true,
            slidesToShow: 4,
            slidesToScroll: 3
        });
        </script>
    </body>
</html>
