<!DOCTYPE html>
{% load static %}
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Viajar Faz Bem Desafio</title>
        <link rel="icon"
              type="imagem/png"
              href="https://viajarfazbem.com/favicon-16.png"/>
        <link rel="stylesheet"
              type="text/css"
              href="{% static 'vitrines/css/style.css' %}">
        <link rel="stylesheet"
              type="text/css"
              href="{% static 'vitrines/css/slick.css' %}">
        <link rel="stylesheet"
              type="text/css"
              href="{% static 'vitrines/css/header.css' %}">
        <link rel="stylesheet"
              type="text/css"
              href="{% static 'vitrines/css/busca.css' %}">
        <link rel="stylesheet"
              type="text/css"
              href="{% static 'vitrines/css/slick-theme.css' %}">
        <script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
        <script src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.7.1/slick.js"></script>
    </head>
    <body>
        <header class="header">
            <a href="/vitrines/" class="header__link">Desafio Viajar Faz Bem</a>
            <div class="menu">
                <div class="vitrines">
                    <a href="/vitrines/">Vitrines</a>
                </div>
                <div class="home">
                    <a href="/vitrines/home/">Home</a>
                </div>
                <div class="destinos">
                    <a href="/vitrines/destinos/">Destinos</a>
                </div>
            </div>
        </header>
        <form class="formulario" action="" method="GET">
            {% if text != None %}
                <input type="search"
                       id="text"
                       class="text"
                       name="text"
                       placeholder="Busca por texto"
                       value="{{ text }}"
                       onchange="">
            {% else %}
                <input type="search"
                       id="text"
                       class="text"
                       name="text"
                       placeholder="Busca por texto"
                       value=""
                       onchange="">
            {% endif %}
            {% if limit != None %}
                <input id="limit"
                       class="limit"
                       type="number"
                       min="1"
                       onkeydown="javascript: return event.keyCode == 69 ? false : true"
                       placeholder="Quantidade de Itens"
                       name="limit"
                       value="{{ limit }}">
            {% else %}
                <input id="limit"
                       class="limit"
                       type="number"
                       min="1"
                       onkeydown="javascript: return event.keyCode == 69 ? false : true"
                       placeholder="Quantidade de Itens"
                       name="limit"
                       value="">
            {% endif %}
            <select name="state" id="state" class="state" onchange="this.form.submit()">
                <option hidden value="">
                    Estado
                </option>
                {% for estado in states %}
                    {% if estado == state %}
                        <option selected value="{{ estado }}">
                            {{ estado }}
                        </option>
                    {% else %}
                        <option value="{{ estado }}">
                            {{ estado }}
                        </option>
                    {% endif %}
                {% endfor %}
            </select>
            <input type="submit" hidden>
        </form>
        <div class="carousel">
            {% for item in itens %}
                <div class="card">
                    <div class="image">
                        <a href="/vitrines/sobre/{{ item.category.slug }}/{{ item.country.slug }}/{{ item.city.state }}/{{ item.city.slug }}/{{ item.slug }}/{{ item.page_id }}">
                            <img src="{{ item.image }}" alt="{{ item.hotel_name }}">
                        </a>
                    </div>
                    <div class="content">
                        <a class="name"
                           href="/vitrines/sobre/{{ item.category.slug }}/{{ item.country.slug }}/{{ item.city.state }}/{{ item.city.slug }}/{{ item.slug }}/{{ item.page_id }}">
                            <p>
                                {{ item.hotel_name }}
                            </p>
                        </a>
                        <p class="endereco">
                            {{ item.city }}, {{ item.city.state }}
                        </p>
                    </div>
                </div>
            {% endfor %}
        </div>
        <script>
        $('.carousel').slick({
            dots: true,
            infinite: true,
            slidesToShow: 4,
            slidesToScroll: 3
        });
        </script>
    </body>
</html>
